@model QuanLyPhongKham.Models.ToaThuoc

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin toa thuốc</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaToa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaToa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoSoKham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoSoKham.MaHSK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuocSi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuocSi.HoTen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>
