@model IEnumerable<QuanLyPhongKham.Models.ToaThuoc>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách toa thuốc</h1>

<p>
    <a asp-action="Create">Thêm toa thuốc mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaToa)
            </th>
            <th>
                Hồ sơ khám
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                Dược sĩ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaToa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoSoKham.MaHSK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuocSi.HoTen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
