@model QuanLyPhongKham.Models.Bacsi

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin chi tiết</h1>

<div> 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuyenKhoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuyenKhoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            <div class="input-group" style="max-width:300px">
                <input type="password" class="form-control" id="passwordInput" value="@Model.Password" readonly />
                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a class="nav-link text-white add" asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
    <a class="nav-link text-white back-list" asp-action="Index">Quay lại danh sách</a>
</div>
<script>
    const passwordInput = document.getElementById("passwordInput");
    const togglePassword = document.getElementById("togglePassword");

    togglePassword.addEventListener("click", function () {
        const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
        passwordInput.setAttribute("type", type);

        //đổi class
        const icon = togglePassword.querySelector("i");
        if (type === "password") {
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
        else {
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        }
    });
</script>