@model IEnumerable<QuanLyPhongKham.Models.LeTan>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách lễ tân</h1>

<p class="add">
    <a class="nav-link text-white" asp-action="Create">Thêm lễ tân</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="nav-link text-white edit" asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a class="nav-link text-white detail" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a class="nav-link text-white delete"asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
